body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-txt {
  color: #f5fdc6;

}
.second-text {
   color: #f5c396;
}

.dark-backround {
  background-color: #41521f;
}

.light-backround {
  background-color: #d0b17a;
}

.dark-text {
  color: #41521f;
}